*{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

header{
    position: relative;
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
    background: #000000;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
}

body{
    background-color: #ffcb05;
}

.menu-toggle{
    display: none;
    margin-left: auto;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
}

.image{
    height: 80px;
}

.image:hover{
    transform: scale(1.1);
}

.menu{
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}

.menu ul{
    list-style: none;
    padding: 0 10px;
}

.menu ul li{
    display: inline-block;
    position: relative;
    transition: 0.50s linear;
    z-index: 1000;
}

.menu ul li:hover{
    transform: scale(1.1);
}

.menu ul li a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: 0.50 linear;
}

.menu ul li a:hover{
    background: #fff;
    color: rgb(0, 255, 221);
    transform: scale(1.1);
}

.show{
    height: 305px !important;
}

.menu ul li:hover .items{
    display: block;
}

.menu .submenu .items{
    text-align: center;
    display: none;
    background-color: #000000;
    position: absolute;
    width: 7.5rem;
    height: 14.25rem;
}

.menu .submenu .items li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.menu .submenu .items li a{
    display: block;
}

@media (max-width: 1200px){
    header{
        margin: 20px;
    }
}

 /* @media  (max-width: 700px){
    .menu-toggle{
        display: block;
    } 

    .menu {
        background-color: #000000;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 1.3s ease-out;
    }

    .menu ul li {
        display: block;
        text-align: center;
    }

    .menu ul li a {
        color: aqua;
        font-size: 20px;
        border-bottom:solid #eee;
        width: 100%;
    }

}  */



