@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Splash&display=swap');

.Social{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140vh;
}
.Media{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffe600;
}
.Media li{
    list-style: none;
}
.Media li::before{
    content: attr(data-text);
    position: absolute;
    top: -180px;
    right: 270px;
    left: 41%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
}
.Media li:hover::before{
    opacity: 0.1;
    transform: translate(-30%, calc(-30% + 150px));
}
.Media li a{
    position: relative;
    width: 80px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    border-radius: 100px;
    text-decoration: none;
    margin: 20px;
    font-size: 2rem;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    transition: background 0.25s;
}
.js-tilt-glare{
    border-radius: 100px
}
.Media li a:hover.facebook{

    background: #1877f2;
}
.Media li a:hover.youtube{
    background: #ff0000;
}
.Media li a:hover.twitter{
    background: #0099ff;
}
.Media li a:hover.instagram{
    background: #ff9100;
} 
.Media li a:hover.gmail{
    background: #ff6b3e;
}
.Media li a.fa{
    transition: 0.25s;
    pointer-events: none;
}
.Media li a:hover .fa{
    color: white; 
    transform: scale(1.80) translateZ(1rem);
}